@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
$lightblue: #3be8ff;
$blue: #520079;

*, *::after, *::before{
  box-sizing: border-box;
}
$container-size: 30vw;
$squares-count: 5;

$square-size: $container-size/$squares-count;
$lines-size: $square-size/$squares-count;
$squares-padding: 0;

$animation-time: 30s;
$animation-curve: cubic-bezier(1,.5,.25,.5);

:root {
	--f-size: 15;
	--f-unit: 1vmin;
	--f: calc(var(--f-size) * var(--f-unit) / 1.5);
	--bg: $blue;
	--react-glitch-font-size : 100px;
	--react-glitch-text-background-color : $blue;
  }
  

.page-welcome-text{
    position: relative;
	font-family: Poppins;
	font-size: 14px;
    background-color: $blue;
	overflow: hidden;
    height: 85vh;
    width: 47vw;
    z-index: -1;
}
.container-background{
    z-index: 0;
	transform: translate(-50%, -50%);
	height: $container-size;
	width: $container-size;
	position: absolute;
	left: 45vw;
	top: 40vh;
	> .row {
		position: relative;
		float: left;
		width: 100%;
		clear: both;
		> .loader {
			position: relative;
			height: $square-size;
			width: $square-size;
			float: left;
			> .lines {
				bottom: $squares-padding;
				right: $squares-padding;
				left: $squares-padding;
				top: $squares-padding;
				position: absolute;
				> span {
					animation: shift-background $animation-time infinite $animation-curve;
					background-color: white;
					position: absolute;
					width: $lines-size;
					height: 3px;
					&::before {
						background-color: inherit;
						height: $lines-size;
						position: absolute;
						content: "";
						width: 3px;
					}
					&:nth-child(1),
					&:nth-child(4),
					&:nth-child(1)::before,
					&:nth-child(4)::before {
						left: 0;
					}
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(2)::before,
					&:nth-child(3)::before {
						right: 0;
					}
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(1)::before,
					&:nth-child(2)::before {
						top: 0;
					}
					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(3)::before,
					&:nth-child(4)::before {
						bottom: 0;
					}
				}
			}
		}
		&:nth-child(even) > .loader:nth-child(even) > .lines {
			animation: rotate-right $animation-time infinite $animation-curve;
		}
		&:nth-child(even) > .loader:nth-child(odd) > .lines {
			animation: rotate-left $animation-time infinite $animation-curve;
		}
		&:nth-child(odd) > .loader:nth-child(even) > .lines {
			animation: rotate-left $animation-time infinite $animation-curve;
		}
		&:nth-child(odd) > .loader:nth-child(odd) > .lines {
			animation: rotate-right $animation-time infinite $animation-curve;
		}
	}
}



.container-welcome-text {
    position: relative;
	top:25vh;
	right:8vw;
    z-index: 1;
}
.line-text{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	color: #fff;
    font-size: 25px;
	> h4::after {
		content: "";
		position: relative;
		right:8.5vw;
		bottom:1.5vh;
		height: 4px;
		width: 120px;
		display: block;
		background-color: $lightblue;
		
	}
}
.Typewriter__wrapper {
	font-family: 'Poppins';
	font-size: 50px;
	color:#fff;
}
.Typewriter__cursor {
	font-family: 'Poppins';
	font-size: 50px;
	color:$lightblue;
	font-weight:900
}

@keyframes rotate-right {
    0% { transform:translate(-50%, -50%) rotate(0deg); }
    25% { transform:translate(-50%, -50%) rotate(45deg); }
    50% { transform:translate(-50%, -50%) rotate(90deg); }
    75% { transform:translate(-50%, -50%) rotate(135deg); }
    100% { transform:translate(-50%, -50%) rotate(180deg); }
}

@keyframes rotate-left {
    0% { transform:translate(-50%, -50%) rotate(0deg); }
    25% { transform:translate(-50%, -50%) rotate(-45deg); }
    50% { transform:translate(-50%, -50%) rotate(-90deg); }
    75% { transform:translate(-50%, -50%) rotate(-135deg); }
    100% { transform:translate(-50%, -50%) rotate(-180deg); }
}

@keyframes shift-background {
	0%, 100% { background-color: hsla(0, 0%, random(100)*1%); }
	25% { background-color: hsla(0, 0%, random(100)*1%); }
	50% { background-color: hsla(0, 0%, random(100)*1%); }
	75% { background-color: hsla(0, 0%, random(100)*1%); }
}