.WelcomeImg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin:0;
    background-color: #000000;
}
#msan-image {
    max-width:30%;
    max-height:30%;
    vertical-align: middle;
}
